﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="text-center" style="margin: 15px 0;">
            <img src="~/images/colorful-world-icon.png" style="vertical-align:middle; width: 50px; height:50px; margin-bottom: 10px;"/>
            <h2 style="display: inline;">World Wide Countries & States Using AngularJS 2 and Web API 2</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div class="text-center">
            <div class="alert-info jumbotron">
                <br />
                <my-country-list></my-country-list>
                <br />
            </div>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>

@section Scripts {
    <script>
        System.config({
            packages: {
                'app': { defaultExtension: 'js' },
                'lib': { defaultExtension: 'js' },
            },
        });

        System.import('app/main')
            .then(null, console.error.bind(console));
    </script>
}
