﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASPNETCoreAngular2Demo</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/lib/npmlibs/es6-shim/es6-shim.js"></script>
        <script src="~/lib/npmlibs/systemjs/system-polyfills.src.js"></script>
        <script src="~/lib/npmlibs/angular2/angular2-polyfills.js"></script>

        <script src="~/lib/npmlibs/systemjs/system.src.js"></script>
        <script src="~/lib/npmlibs/rxjs/Rx.js"></script>
        <script src="~/lib/npmlibs/angular2/angular2.js"></script>
        <script src="~/lib/npmlibs/angular2/http.dev.js"></script>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <script src="~/lib/npmlibs/es6-shim/es6-shim.min.js"></script>
        <script src="~/lib/npmlibs/systemjs/system-polyfills.js"></script>
        <script src="~/lib/npmlibs/angular2/angular2-polyfills.min.js"></script>

        <script src="~/lib/npmlibs/systemjs/system.src.js"></script>
        <script src="~/lib/npmlibs/rxjs/Rx.min.js"></script>
        <script src="~/lib/npmlibs/angular2/angular2.min.js"></script>
        <script src="~/lib/npmlibs/angular2/http.min.js"></script>
        
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="/images/Cybergym_Logo_RGB_72dpi.png" style="vertical-align:middle; height:100%;"></a>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">ASP.NET Core Web API With Angular2 Demo</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
