﻿<div class="row">
    <div class="col-xs-12 col-md-5" [style.text-align]="Styles.txtAlignOfCol(1)">
        <label>Country:</label>
    </div>
    <div class="col-md-7" [style.text-align]="Styles.txtAlignOfCol(2)">
        <select [(ngModel)]="selectedCountry.id" (change)="onSelect($event.target.value)" style="width:150px;">
            <option value="0">--Select--</option>
            <option *ngFor="let country of countries" value={{country.Id}}>{{country.Name}}</option>
        </select>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-12 col-md-5" [style.text-align]="Styles.txtAlignOfCol(1)">
        <label>State:</label>
    </div>
    <div class="col-md-7" [style.text-align]="Styles.txtAlignOfCol(2)" >
        <select style="width:150px;">
            <option value="0">--Select--</option>
            <option *ngFor="let state of states " value={{state.Id}}>{{state.Name}}</option>
        </select>
    </div>
</div>
<br />
<div class="row" style="border: 1px solid;" ng-show="false">
    <ul class="nav nav-pills">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                States<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#" (click)="activeFrame='statesList'">List</a></li>
                <li class="divider"></li>
                <li><a href="#" (click)="activeFrame='statesAddNew'">Add new..</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                Countries<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#" (click)="activeFrame='countriesList'">List</a></li>
                <li class="divider"></li>
                <li><a href="#" (click)="activeFrame='countriesAddNew'">Add new..</a></li>
            </ul>
        </li>
    </ul>

</div>
<br />
<div class="row" style="min-height:300px; max-height : 750px;">
            <div *ngIf="activeFrame=='countriesList'" frame-countries-list></div>
            <div *ngIf="activeFrame=='countriesAddNew'" >{{activeFrame}}</div>
            <div *ngIf="activeFrame=='statesList'" frame-states-list>{{activeFrame}}</div>
            <div *ngIf="activeFrame=='statesAddNew'">{{activeFrame}}</div>
</div>
