﻿<div class="list-group">
    <a href="#" class="list-group-item active" style="text-align: center;">
        <label>Countries List:</label>
    </a>
    <a href="#" class="list-group-item" *ngFor="let country of countries | orderBy: ['Name']" [style.text-align]="Styles.txtAlignOfCol(2)">
        {{country.Name}} <button type="button" class="close" (click)="onDelete(country)">&times;</button>
    </a>
    <a href="#" class="list-group-item" *ngIf="!countries ||  countries.length==0" style="text-align: center;">
        No countries to show!
    </a>
</div>