﻿<div class="list-group">
    <a href="#" class="list-group-item active" style="text-align: center;">
        <label>States List:</label>
    </a>
    <a href="#" class="list-group-item" *ngFor="let state of states | orderBy: ['name']" [style.text-align]="Styles.txtAlignOfCol(2)">
        {{state.name}} <span class="label label-success">countryId:{{state.countryid}}</span> <button type="button" class="close" (click)="onDelete(state)">&times;</button>
    </a>
    <a href="#" class="list-group-item" *ngIf="!states ||  states.length==0" style="text-align: center;">
        No States to show!
    </a>
</div>